<aside>
    <div class="filter">
        <h3>Valoración</h3>
        <div class="valoracion-container">
            <div>0+</div>
            <div>5+</div>
            <div>6+</div>
            <div>7+</div>
            <div>8+</div>
        </div>
    </div>
    <div class="filter">
        <h3>Precio por noche</h3>
        <div class="check-container">
            <label class="container " name="precio-noche">0 € - 50 €
                <input type="checkbox">
                <span class="checkmark"></span>
            </label>
            <span>(14)</span>
        </div>
        <div class="check-container">
            <label class="container " name="precio-noche">50 € - 100 €
                <input type="checkbox">
                <span class="checkmark"></span>
            </label>
            <span>(14)</span>
        </div>
        <div class="check-container">
            <label class="container " name="precio-noche">100 € - 150 €
                <input type="checkbox">
                <span class="checkmark"></span>
            </label>
            <span>(14)</span>
        </div>
        <div class="check-container">
            <label class="container " name="precio-noche">150 € - 200 €
                <input type="checkbox">
                <span class="checkmark"></span>
            </label>
            <span>(14)</span>
        </div>
        <div class="check-container">
            <label class="container " name="precio-noche">200 € +
                <input type="checkbox">
                <span class="checkmark"></span>
            </label>
            <span>(14)</span>
        </div>
    </div>
    <div class="filter">
        <h3>Categoría</h3>
        <div class="check-container">
            <label class="container " name="categoria">5 Estrellas
                <input type="checkbox">
                <span class="checkmark"></span>
            </label>
            <span>(14)</span>
        </div>
        <div class="check-container">
            <label class="container " name="categoria">4 Estrellas
                <input type="checkbox">
                <span class="checkmark"></span>
            </label>
            <span>(14)</span>
        </div>
        <div class="check-container">
            <label class="container " name="categoria">3 Estrellas
                <input type="checkbox">
                <span class="checkmark"></span>
            </label>
            <span>(14)</span>
        </div>
        <div class="check-container">
            <label class="container " name="categoria">2 Estrellas
                <input type="checkbox">
                <span class="checkmark"></span>
            </label>
            <span>(14)</span>
        </div>
        <div class="check-container">
            <label class="container " name="categoria">1 Estrellas
                <input type="checkbox">
                <span class="checkmark"></span>
            </label>
            <span>(14)</span>
        </div>
    </div>
    <div class="filter">
        <h3>Régimen</h3>
        <div class="check-container">
            <label class="container " name="regimen">Solo alojamiento
                <input type="checkbox">
                <span class="checkmark"></span>
            </label>
            <span>(14)</span>
        </div>
        <div class="check-container">
            <label class="container " name="regimen">Alojamiento con coina
                <input type="checkbox">
                <span class="checkmark"></span>
            </label>
            <span>(14)</span>
        </div>
        <div class="check-container">
            <label class="container " name="regimen">Desayuno
                <input type="checkbox">
                <span class="checkmark"></span>
            </label>
            <span>(14)</span>
        </div>
        <div class="check-container">
            <label class="container " name="regimen">Media pensión
                <input type="checkbox">
                <span class="checkmark"></span>
            </label>
            <span>(14)</span>
        </div>

        <div class="check-container">
            <label class="container " name="regimen">Pensión completa
                <input type="checkbox">
                <span class="checkmark"></span>
            </label>
            <span>(14)</span>
        </div>

        <div class="check-container">
            <label class="container " name="regimen">Todo incluido
                <input type="checkbox">
                <span class="checkmark"></span>
            </label>
            <span>(14)</span>
        </div>
    </div>
    <div class="filter">
        <h3>Hotel</h3>
        <input type="text" name="hotel-name" id="search-text" placeholder="Escribe el nombre del hotel...">
    </div>
    <div class="filter">
        <h3>Servicios destacados</h3>

        <div class="check-container">
            <label class="container " name="services">Wifi gratis
                <input type="checkbox">
                <span class="checkmark"></span>
            </label>
            <span>(14)</span>
        </div>
        <div class="check-container">
            <label class="container " name="services">SPA completo
                <input type="checkbox">
                <span class="checkmark"></span>
            </label>
            <span>(14)</span>
        </div>
        <div class="check-container">
            <label class="container " name="services">Parking gratis cerca del hotel
                <input type="checkbox">
                <span class="checkmark"></span>
            </label>
            <span>(14)</span>
        </div>


    </div>

</aside>