<button (click)="toggleAside()" class="aside-button">
    <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="bars"
     role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"
      class="svg-inline--fa fa-bars fa-w-14 fa-3x">
      <path fill="white" 
      d="M436 124H12c-6.627 0-12-5.373-12-12V80c0-6.627 5.373-12 12-12h424c6.627 0 12 5.373 12 12v32c0 6.627-5.373 12-12 12zm0 160H12c-6.627 0-12-5.373-12-12v-32c0-6.627 5.373-12 12-12h424c6.627 0 12 5.373 12 12v32c0 6.627-5.373 12-12 12zm0 160H12c-6.627 0-12-5.373-12-12v-32c0-6.627 5.373-12 12-12h424c6.627 0 12 5.373 12 12v32c0 6.627-5.373 12-12 12z" 
      class=""></path></svg>
</button>
<div class="mask" *ngIf="toggled"></div>
<aside [class.toggled]="toggled">
    <div class="filter">
        <h3>Valoración</h3>
        <div class="valoracion-container">
            <div (click)="setPoint(0)" [class.innactive]="point > 0 && point != null" >0+</div>
            <div (click)="setPoint(5)" [class.innactive]="point > 5 && point != null">5+</div>
            <div (click)="setPoint(6)" [class.innactive]="point > 6 && point != null">6+</div>
            <div (click)="setPoint(7)" [class.innactive]="point > 7 && point != null">7+</div>
            <div (click)="setPoint(8)" >8+</div>
        </div>
    </div>
    <div class="filter">
        <h3>Precio por noche</h3>
        <div class="check-container">
            <label class="container " name="precio-noche">0 € - 50 €
                <input type="checkbox">
                <span class="checkmark"></span>
            </label>
            <span>(14)</span>
        </div>
        <div class="check-container">
            <label class="container " name="precio-noche">50 € - 100 €
                <input type="checkbox">
                <span class="checkmark"></span>
            </label>
            <span>(14)</span>
        </div>
        <div class="check-container">
            <label class="container " name="precio-noche">100 € - 150 €
                <input type="checkbox">
                <span class="checkmark"></span>
            </label>
            <span>(14)</span>
        </div>
        <div class="check-container">
            <label class="container " name="precio-noche">150 € - 200 €
                <input type="checkbox">
                <span class="checkmark"></span>
            </label>
            <span>(14)</span>
        </div>
        <div class="check-container">
            <label class="container " name="precio-noche">200 € +
                <input type="checkbox">
                <span class="checkmark"></span>
            </label>
            <span>(14)</span>
        </div>
    </div>
    <div class="filter">
        <h3>Categoría</h3>
        <div class="check-container">
            <label class="container " name="categoria">5 Estrellas
                <input type="checkbox">
                <span class="checkmark"></span>
            </label>
            <span>(14)</span>
        </div>
        <div class="check-container">
            <label class="container " name="categoria">4 Estrellas
                <input type="checkbox">
                <span class="checkmark"></span>
            </label>
            <span>(14)</span>
        </div>
        <div class="check-container">
            <label class="container " name="categoria">3 Estrellas
                <input type="checkbox">
                <span class="checkmark"></span>
            </label>
            <span>(14)</span>
        </div>
        <div class="check-container">
            <label class="container " name="categoria">2 Estrellas
                <input type="checkbox">
                <span class="checkmark"></span>
            </label>
            <span>(14)</span>
        </div>
        <div class="check-container">
            <label class="container " name="categoria">1 Estrellas
                <input type="checkbox">
                <span class="checkmark"></span>
            </label>
            <span>(14)</span>
        </div>
    </div>
    <div class="filter">
        <h3>Régimen</h3>
        <div class="check-container">
            <label class="container " name="regimen">Solo alojamiento
                <input type="checkbox">
                <span class="checkmark"></span>
            </label>
            <span>(14)</span>
        </div>
        <div class="check-container">
            <label class="container " name="regimen">Alojamiento con coina
                <input type="checkbox">
                <span class="checkmark"></span>
            </label>
            <span>(14)</span>
        </div>
        <div class="check-container">
            <label class="container " name="regimen">Desayuno
                <input type="checkbox">
                <span class="checkmark"></span>
            </label>
            <span>(14)</span>
        </div>
        <div class="check-container">
            <label class="container " name="regimen">Media pensión
                <input type="checkbox">
                <span class="checkmark"></span>
            </label>
            <span>(14)</span>
        </div>

        <div class="check-container">
            <label class="container " name="regimen">Pensión completa
                <input type="checkbox">
                <span class="checkmark"></span>
            </label>
            <span>(14)</span>
        </div>

        <div class="check-container">
            <label class="container " name="regimen">Todo incluido
                <input type="checkbox">
                <span class="checkmark"></span>
            </label>
            <span>(14)</span>
        </div>
    </div>
    <div class="filter">
        <h3>Hotel</h3>
        <input type="text" name="hotel-name" id="search-text" placeholder="Escribe el nombre del hotel...">
    </div>
    <div class="filter">
        <h3>Servicios destacados</h3>

        <div class="check-container">
            <label class="container " name="services">Wifi gratis
                <input type="checkbox">
                <span class="checkmark"></span>
            </label>
            <span>(14)</span>
        </div>
        <div class="check-container">
            <label class="container " name="services">SPA completo
                <input type="checkbox">
                <span class="checkmark"></span>
            </label>
            <span>(14)</span>
        </div>
        <div class="check-container">
            <label class="container " name="services">Parking gratis cerca del hotel
                <input type="checkbox">
                <span class="checkmark"></span>
            </label>
            <span>(14)</span>
        </div>


    </div>

</aside>