<ng-container *ngIf="!loading;else spinner">

    <div class="main-content">
        <header>
            <h2>{{hotel.name.content}}</h2>
            <p>{{hotel.address.content}}, {{hotel.city.content}}, {{hotel.state.name}}
                ({{hotel.country.description.content}})</p>
        </header>
        <div class="hotel-detail">
            <div class="images-container">
                <ng-container *ngIf="imagesArray">
                    <div *ngFor="let src; of imagesArray">
                        <img [src]="src" alt="">
                    </div>
                </ng-container>
            </div>
            <div class="data-content">
                <div class="calification_container">{{hotel.ranking / 10}}</div>
                <div class="map_container">Mapa</div>
                <div class="reserva_container">
                    <p>Habitaciones desde</p>
                    <p>{{pricePerDay| number:'1.0-0'}} € por noche</p>
                    <button (click)="procesarReserva()">¡RESERVAR AHORA!</button>
                </div>
            </div>
        </div>
    </div>
    <div class="gray-back">
        <div class="dispobility-container">
            <div class="calendar">
                <span>Disponibilidad</span>
                <span>
                    <svg aria-hidden="true" width="20" focusable="false" data-prefix="fal" data-icon="calendar-alt"
                        role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"
                        class="svg-inline--fa fa-calendar-alt fa-w-14 fa-3x">
                        <path fill=""
                            d="M400 64h-48V12c0-6.6-5.4-12-12-12h-8c-6.6 0-12 5.4-12 12v52H128V12c0-6.6-5.4-12-12-12h-8c-6.6 0-12 5.4-12 12v52H48C21.5 64 0 85.5 0 112v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V112c0-26.5-21.5-48-48-48zM48 96h352c8.8 0 16 7.2 16 16v48H32v-48c0-8.8 7.2-16 16-16zm352 384H48c-8.8 0-16-7.2-16-16V192h384v272c0 8.8-7.2 16-16 16zM148 320h-40c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12zm96 0h-40c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12zm96 0h-40c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12zm-96 96h-40c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12zm-96 0h-40c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12zm192 0h-40c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12z"
                            class=""></path>
                    </svg>
                    <span>Desde: {{checkInData.checkInData.checkIn | date:'EEEE d  MMMM '}} </span>
                    <span>Hasta: {{checkInData.checkInData.checkOut | date:'EEEE d  MMMM '}} </span>
                    <span>({{daysToBook}} noches)</span>
                </span>
            </div>
            <span>
                <span>Adultos: {{checkInData.checkInData.adultos}} </span>
                <span *ngIf="checkInData.checkInData.ninos > 0">Niños: {{checkInData.checkInData.ninos}} </span>
                <span>habitaciones: {{checkInData.checkInData.hab}}</span>
            </span>
        </div>
        <div class="rooms-information">

            <ng-container *ngFor="let room of rooms; let i = index">
                <div>
                    <app-hotel-room [daysToBook]="daysToBook" [room]="room"></app-hotel-room>
                </div>
            </ng-container>
        </div>
        <div class="hotel-information">
            <div class="hotel-description">
                <h2>{{hotel.name.content}}</h2>
                {{hotel.description.content}}
            </div>
        </div>

    </div>
</ng-container>
<ng-template #spinner>
    <div class="spinner"></div>
</ng-template>
