
header{
    padding: 20px 20px;
    color: rgb(63, 63, 63);
}
.hotel-detail{
    display: flex;
    margin-left: 30px;
    align-items: center;
    overflow: hidden;
}
.images-container{
    display: flex;
    width: 50%;
    max-height: 500px;
    overflow: auto;
}

.images-container > div{
    
    width: 300px;
    height: 250px;
    min-width: 300px;
    padding: 6px;
}
.images-container > div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 6px;

}
.reserva_container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
}
.reserva_container button{
background: #f8b018;
color: white;
border: none;
font-size: 20px;
padding: 20px 60px;
cursor: pointer;
transition: 300ms ;
border-radius: 4px;
box-shadow: 0px 6px 14px -5px #f8b118d0;
}
.reserva_container button:hover{
transform: translateY(-8px);

}
.data-content{
    display: flex;
    flex-wrap: wrap;
    padding: 0px 16px;
    width: 50%;
}

.map_container,.calification_container{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.gray-back{
    background: rgb(245 245 245);
    margin-top: 30px;
    padding: 30px 100px;
}

.hotel-description{
    background: white;
    margin: auto;
    padding: 30px;
    box-shadow: 0px 0px 28px 0px #8080804a;

}

.hotel-description h2{
    position: relative;
    color: rgb(63, 63, 63);
    margin-bottom: 30px;

}
.hotel-description h2::before{
    position: absolute;
    content: ' ';
    bottom: -12px;
    width: 100%;
    height: 2px;
    background: rgb(245 245 245);
    left: 0;
}
.hotel-information{
    color: rgb(63, 63, 63);
    margin-top: 30px;
}

.main-content{
    padding: 0 70px;
}

.dispobility-container{
    background: white;
    border: 2px solid var(--gold);
    padding: 25px 30px;
    margin: 30px 0;
    box-shadow: 0px 0px 19px 0px #8080804a;
    color: var(--blue);
    font-weight: 500;
    display: flex; 
    align-items: center;
    justify-content: space-between;

}

.dispobility-container svg{
    fill: var(--blue);
    position: relative;
    top: 6px;
    margin-right: 30px;
}
.rooms-information > div {
    background: white;
    margin-top: 15px;
    box-shadow: 0px 0px 19px 0px #8080804a;
}

.calendar span:first-child{
    margin-right: 30px;
}