<ng-container *ngIf="!loading;else spinner">

    <div class="main-content">
        <header>
            <h2>{{hotel.name.content}}</h2>
            <p>{{hotel.address.content}}, {{hotel.city.content}}, {{hotel.state.name}}
                ({{hotel.country.description.content}})</p>
        </header>
        <div class="hotel-detail">
            <div class="images-container">
                <ng-container *ngIf="imagesArray">
                    <div *ngFor="let src; of imagesArray">
                        <img [src]="src" alt="">
                    </div>
                </ng-container>
            </div>
            <div class="data-content">
                <div class="calification_container">{{hotel.ranking / 10}}</div>
                <div class="map_container">Mapa</div>
                <div class="reserva_container">
                    <p>Habitaciones desde</p>
                    <p>{{pricePerDay| number:'1.0-0'}} € por noche</p>
                    <button (click)="procesarReserva()">¡RESERVAR AHORA!</button>
                </div>
            </div>
        </div>
    </div>
    <div class="gray-back">
        <div class="dispobility-container">
            <span>Disponibilidad</span>
            <span class="calendar">
                <span>Desde: {{checkInData.checkInData.checkIn}} </span>
                <span>Hasta: {{checkInData.checkInData.checkOut}} </span>
                <span>({{daysToBook}} noches)</span>
            </span>
            <span>
                <span>Adultos: {{checkInData.checkInData.adultos}}</span>
                <span>Adultos: {{checkInData.checkInData.ninos}}</span>
                <span>habitaciones: {{checkInData.checkInData.hab}}</span>
            </span>
        </div>
        <div class="rooms-information">

            <ng-container *ngFor="let room of rooms; let i = index">
                <div>
                    <app-hotel-room 
                    [daysToBook]="daysToBook" 
                    [room]="room"></app-hotel-room>
                </div>
            </ng-container>
        </div>
        <div class="hotel-information">
            <div class="hotel-description">
                <h2>{{hotel.name.content}}</h2>
                {{hotel.description.content}}
            </div>
        </div>

    </div>
</ng-container>
<ng-template #spinner>
    <div class="spinner"></div>
</ng-template>