.offers-info-container{
    display: grid;
    grid-template-columns: 30% 20% 30% 20%;
    align-items: center;
}

.offer-type{
    padding-left: 8px;
    color: var(--light-font);
    font-weight: 600;
}

.button-gold{
    background: #f8b018;
    box-shadow: 0px 6px 14px -5px #f8b118d0;

}
.button-gold:hover{
    box-shadow: 0px 6px 10px -5px #f8b118d0;

}

.precio-final p{
    margin: 0;
    text-align: right;

}
.precio-final .priceWithoutOffer span{
    font-size: 13px;
    color: rgba(128, 128, 128, 0.5);
    position: relative;
}
.precio-final .priceWithoutOffer span::before{
   content: '';
   width: 1px;
   height: 100%;
   position: absolute;
   right: 0;
   left: 0;
   bottom: 0;
   margin: auto;
   top: 0;
   background: red;
   transform: rotateZ(45deg);
}
.precio-final{
    padding-right: 25px;
    align-self: flex-end;
}
.precio-final :nth-child(1){
    font-size: 35px;
    color: #f8b118d0;
    margin-bottom: 4px;
    font-weight: 600;
}
.precio-final :nth-child(2){
    font-size: 13px;
    color: var(--lighter-font);
}

.precio-noche{
    color: var(--dark-font);
    font-size: 20px;
    font-weight: 600;
}
.precio-noche span{
    color: var(--lighter-font);
    font-size: 13px;
    font-weight: 500;
}


@media (max-width: 700px){
    .offers-info-container{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .offers-info-container div{
        padding: 0;
    }
    .offers-info-container p{
        text-align: center;
    }
    .precio-final{
        align-self: unset;
    }
    .offers-info-container button{
        margin-top: 16px;
    }
    .button-gold{
        padding: 0 38px;
    }
    
}