<div class="room">
    <div class="offer-header">
        <div>
            <div class="ofertas-liston">
                OFERTAS <span>EXCLUSIVAS</span>
            </div>
        </div>
        <div class="offer-subtitle">Disfruta de las mejores ofertas en este hotel solo por ser cliente registrado</div>
        <div>
            <button class="button-blue button-custom">iniciar sesion</button>
        </div>
    </div>
    <div class="room-offer-content">
        <div class="room-title">Habitacion superior</div>
        <app-offer></app-offer>
    </div>
</div>