<div class="room">
    <div class="offer-header">
        <div>
            <div class="ofertas-liston">
                OFERTAS <span>EXCLUSIVAS</span>
            </div>
        </div>
        <div class="offer-subtitle">Disfruta de las mejores ofertas en este hotel solo por ser cliente registrado</div>
        <div class="login-btn-container">
            <button class="button-blue button-custom">iniciar sesion</button>
        </div>
    </div>
    <div class="room-offer-content">
        <div class="room-title">{{room.name}}</div>
        <div>
            <ng-container *ngFor="let rate of room.rates">
                <app-offer [rate]="rate" [daysToBook]="daysToBook"></app-offer>
            </ng-container>

        </div>
    </div>
</div>